<!doctype html>
<html lang="en" ng-app='botViewer'>

<head>
    <meta charset="utf-8">
    <title>BOT VIEWER</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.min.css"/>
    
</head>

<body ng-controller="BodyController">
    
    <md-button class="md-raised" ng-click="showAgregar=!showAgregar" ng-init="showAgregar=false">Mostrar Config</md-button>
    <md-content ng-show="showAgregar" layout-gt-sm="row" layout-padding ng-init="newConfigToCreate={}">
        <md-input-container>
            <label>Pass</label>
            <input ng-model="pass" >
        </md-input-container>
    </md-content>
    <md-button ng-show="showAgregar" class="md-raised" ng-click="savePass()">Set password</md-button>
    <md-content ng-show="showAgregar" layout-gt-sm="row" layout-padding ng-init="newConfigToCreate={}">
        <div>
            <md-input-container>
                <label>Descripcion</label>
                <input ng-model="newConfigToCreate.description">
            </md-input-container>
            <md-input-container>
                <label>URL</label>
                <input ng-model="newConfigToCreate.url">
            </md-input-container>
            <md-input-container>
                <label>Token</label>
                <input ng-model="newConfigToCreate.token">
            </md-input-container>
            <md-input-container>
                <label>TargetMoney</label>
                <input ng-model="newConfigToCreate.targetMoney">
            </md-input-container>
            <md-input-container>
                <label>SafeStreak</label>
                <input ng-model="newConfigToCreate.safeStreak">
            </md-input-container>
            <md-input-container>
                <label>MaxCalls</label>
                <input ng-model="newConfigToCreate.maxCalls">
            </md-input-container>
            <md-input-container>
                <label>WaitForSafeStreak</label>
                <input ng-model="newConfigToCreate.waitForSafeStreak">
            </md-input-container>
            <md-input-container>
                <label>SafePercentage (default: 2)</label>
                <input ng-model="newConfigToCreate.safePercentage">
            </md-input-container>
        </div>
    </md-content>
    <md-button class="md-raised" ng-show="showAgregar" ng-click="newConfig(newConfigToCreate)">Agregar</md-button>
    
    <md-content class="md-padding" layout-xs="column" layout="row">
        <div flex-xs flex-gt-xs="100" layout="column">
            <md-card ng-repeat="config in configs" ng-controller="BotServerCardController">
                <md-card-header>
                    <md-card-avatar>
                        <img src="img/bitcoin.png"/>
                    </md-card-avatar>
                    <md-card-header-text>
                        <span class="md-title">{{config.url}}</span>
                        <span class="md-title">{{botServer.serverStatus.info}}</span>
                    </md-card-header-text>
                </md-card-header>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{config.description}}</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <nvd3  options="betGraphOptions" data="betGraphData"></nvd3>


                    <p>Bets: {{botServer.data.info.bets}}</p>
                    <p>Bet Time: {{botServer.data.info.betTime}}</p>
                    <p>Base Bet: {{botServer.data.info.baseBet | number: 2}}</p>
                    <p>Profit (in Satoshis): {{botServer.data.info.profit | number: 2}}</p>
                    <p>Actual Safe Streak: {{botServer.data.info.actualSafeStreak}}</p>
                    <p>Probability Of Streak: {{botServer.data.info.probabilityOfStreak}}</p>
                    <p>Bets per Minute: {{botServer.data.info.betsPerMinute | number: 2}}</p>
                    <p>Balance (in Satoshis): {{botServer.data.info.balance | number: 2}}</p>
                    <p>Balance U$D: {{botServer.data.info.balanceInUsd | number: 2}}</p>
                    <p>U$D to BTC: {{botServer.data.info.usdExchangeRate}}</p>
                

                    
                </md-card-content>



                <md-card-actions layout="row" layout-align="end center">
                    <md-button ng-click="botServer.updateExchangeRate()">Update U$D Exchange Rate</md-button>
                    <md-button ng-click="botServer.status()">Status</md-button>
                    <md-button ng-disabled="!botServer.token" ng-click="botServer.initialize()">Initialize</md-button>
                    <md-button ng-disabled="!botServer.token" ng-click="botServer.start()">Start</md-button>
                    <md-button ng-disabled="!botServer.token" ng-click="botServer.stop()">Stop</md-button>
                </md-card-actions>
            </md-card>
        </div>
    </md-content>
    <md-button class="md-raised" ng-click="clear()">Borrar todo</md-button>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-material/angular-material.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-nvd3/1.0.5/angular-nvd3.min.js"></script>

    
    <script src="js/app.js"></script>
</body>

</html>